*.bak
*.pyc
.DS_Store
.venv
*.swp
*.pyo
*.secret
*.swp
*.tmp
*~
.DS_Store
.vagrant/
redditbot_replied.txt
.venv
__pycache__
github_pat.secret
server/pubkey.txt
server/voters.json
api_cache/
.idea/
server/issue_commands_ran.json
.migrated
ansible/*.retry
db.sqlite
